*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  background-image:
} */

header{
  background-color:#94CAE6 ;
  background-image: url('/img/pattern.png');
  background-size: auto;
}

.logo{
  width: 250px;
  padding: 40px 20px;
}

.main-header{
  padding: 40px 20px;
}

.main-header-text{
  color: gray;
}

.main-text{
  color: #6eb6da;
  font-weight: bold;
}

.main-image{
  padding: 40px 20px;
}
.text-alt{
  font-size: 8px;
}